#region-admin.container

  .region
    .region-title
      %h1= page_title!('Registrarse')
  .region
    = link_to image_tag('/assets/img-facebook-round.png'), usuario_omniauth_authorize_path(provider: 'facebook')
    = link_to "Regístrate con tu cuenta de Facebook", usuario_omniauth_authorize_path(provider: 'facebook')

  .region
    = form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f|
      = devise_error_messages!
      .form-group
        = f.label :email, class: 'col-sm-2 control-label'
        .col-sm-10
          = f.email_field :email, :autofocus => true, class: 'form-control'
      .form-group
        = f.label :password, "contraseña", class: 'col-sm-2 control-label'
        .col-sm-10
          = f.password_field :password, class: 'form-control'
      .form-group
        = f.label :password_confirmation, "Confirmar Contraseña", class: 'col-sm-2 control-label'
        .col-sm-10
          = f.password_field :password_confirmation, class: 'form-control'
      .form-group
        = f.label :name, "Nombre", class: 'col-sm-2 control-label'
        .col-sm-10
          = f.text_field :name, class: 'form-control'


      .admin-controls
        %div= f.submit "Registrarse", class: 'btn btn-default'
  = render "usuarios/shared/links"
