#region-mixes.container

  .region
    .region-title
      %h1= page_title!('Listando mixes')

    .region
      - if current_admin
        .admin-control
          = link_to 'Crear Mix', new_mix_path, class: 'btn btn-primary'

      .table-responsive
        %table.table
          %tr
            %th Soundcloud
            %th
            %th

          - @mixes.each do |mix|
            %tr
              %td= mix.soundcloud_link_html
              - if current_admin
                %td= link_to 'Editar', edit_mix_path(mix), class: 'btn btn-success'
                %td= link_to 'Eliminar', mix, :method => :delete, :data => { :confirm => '¿Estás Seguro?' }, class: 'btn btn-danger'
