= form_for @contacto, :html => { class: 'form-inline', role: 'form' } do |f|
  - if @contacto.errors.any?
    #error_explanation
      %h2= "#{pluralize(@contacto.errors.count, "error")}"
      %ul
        - @contacto.errors.full_messages.each do |msg|
          %li= msg

  %fieldset
    .form-group
      = #f.label :nombre, class: 'col-sm-2 control-label'
      = f.text_field :nombre, class: 'form-control', placeholder: 'Nombre'
    .form-group
      = #f.label :email, class: 'col-sm-2 control-label'
      = f.text_field :email, class: 'form-control', placeholder: 'Email'
    .form-group
      = #f.label :telefono, class: 'col-sm-2 control-label'
      = f.text_field :telefono, class: 'form-control', placeholder: 'Teléfono'
  %fieldset
    .form-group
      = #f.label :mensaje, class: 'col-sm-2 control-label'
      = f.text_area :mensaje, class: 'form-control', placeholder: 'Mensaje', rows: '0'
    .actions
      = f.submit 'Enviar', class: 'btn btn-default'
