
#carousel-generic.carousel.slide

  %ol.carousel-indicators
    - @eventos.each_with_index do |evento, index|
      - if index == 0
        %li.active{:'data-target' => '#carousel-generic', :'data-slide-to' => index}
      - else
        %li{:'data-target' => '#carousel-generic', :'data-slide-to' => index}

  .carousel-inner
    - @eventos.each_with_index do |evento, index|
      - if index == 0
        .item.active
          = image_tag evento.flyer_url(:full)
          %h3.title
            = '+ ' + evento.titulo + ' /'
            = l evento.fecha, format: :supershort
      - else
        .item
          = image_tag evento.flyer_url(:full)
          %h3.title
            = '+ ' + evento.titulo + ' /'
            = l evento.fecha, format: :supershort
