
#carousel-generic.carousel


  .carousel-inner
    - @eventos.each_with_index do |evento, index|
      - if index == 0
        .item.active
          %h3.title
            = '+ ' + evento.titulo + ' /'
            = l evento.fecha, format: :supershort
          = image_tag evento.flyer_url(:full), class: 'slider', width: '940px'
          = image_tag "slider-shadow.png", class: 'shadow'
      - else
        .item
          %h3.title
            = '+ ' + evento.titulo + ' /'
            = l evento.fecha, format: :supershort
          = image_tag evento.flyer_url(:full), class: 'slider', width: '940px'
          = image_tag "slider-shadow.png", class: 'shadow'
  %ol.carousel-indicators
    - @eventos.each_with_index do |evento, index|
      - if index == 0
        %li.active{:'data-target' => '#carousel-generic', :'data-slide-to' => index}
      - else
        %li{:'data-target' => '#carousel-generic', :'data-slide-to' => index}
