
- page_title!(@eventos.first.titulo)
- content_for :javascript do 
  :javascript
    $(document).ready(function() {
      $('#carousel-generic').carousel({
      interval: 2700,
      wrap: true
    });
    });

.mega-container.slider-aus
  .container
    #region-slider
      .region-carousel
        = render 'bootstrap3_carousel'

    #region-auspiciadores.seccion.region-centro
      .region.item-aus-wrapper
        %h2.titulo.auspiciador
          Auspiciadores
        .row
          - @auspiciadores.each do |auspiciador|
            .item-aus
              = link_to image_tag(auspiciador.logo_url(:thumb), class: 'img-responsive'), auspiciador.link, target: '_blank'

.mega-container.baila.section-back
  .container
    #region-baila.media-region
      .item-texto
        %h2.titulo
          Baila
        %p
          ONE by BACH nace de la inspiración de un grupo de jóvenen con 8 años
          de experiencia que han posicionado la marca BACH como la mejor
          discoteca del sur chico. Este verano traemos un concepto innovador de
          disco-club. Aquí, en ONE, encontrarás las mejores fiestas, conciertos y espacios privados.
          Todo esto, solo para ti.

      .item-foto.baila
        = image_tag '/assets/img-baila1.jpg', class: 'img-responsive'
      .item-foto.baila
        = image_tag '/assets/img-baila2.jpg', class: 'img-responsive'
      .item-foto.baila
        = image_tag '/assets/img-baila3.jpg', class: 'img-responsive'

.mega-container.musica-disco.section-front
  .container
    %section#la-discoteca.region-section.media-region
      .space
        .item-foto
          = image_tag '/assets/img-discoteca1.jpg', class: 'img-responsive'
        .item-foto
          = image_tag '/assets/img-discoteca2.jpg', class: 'img-responsive'
        .item-foto
          = image_tag '/assets/img-discoteca3.jpg', class: 'img-responsive'

        .item-texto
          %h2.titulo
            La Discoteca
          %p
            ONE by BACH es un nuevo concepto en discotecas pensado en lo que más te gusta:
            buena música y un ambiente espectacular. ¿Qué esperas? VEN A BAILAR!

.mega-container.section-back
  .container
    #region-musica.media-region
      .item-texto
        %h2.titulo
          La Música
        %p
          Cada noche una experiencia nueva, cada experiencia un recuerdo.
          La mejor música y los mejores Dj's para hacer de tus noches en ONE by BACH memorables.

      .item-iframe
        = @mix.first.soundcloud_link_html

.mega-container.section-back
  .container
    %section#contacto.region-section
      .space
        %address.region-contact-info
          %h2.titulo
            Contacto
          %ul
            %li
              %i.icon.avion
              %span
                info@onebybach.com
            %li
              %i.icon.iphone
              %span
                437.6825
        .region-form
          = render '/contactos/form'

.mega-container.ubicacion.section-front
  .container
    %section#ubicacion.region-section
      .space
        .item-mapa
          = render 'mapa'
          = image_tag '/assets/map-shadow.png', class: 'map-shadow img-responsive'

        .item-texto
          %h2.titulo
            Ubicación
          %ul
            %li
              %i.icon.mapa
              Km. 52 Antigua Panamericana Sur
              San Bartolo (Al costado de Bach)

            %li
              %i.icon.persona
              Mayores de 21 años

            %li
              %i.icon.tarjeta
              Aceptamos Visa y MasterCard

.mega-container.facebook
  .container
    #region-facebook.seccion.region-centro
      #region-facebook
        = render '/shared/facebook_js'
        = render '/shared/facebook_like_box'

#main-footer.region-section
  .copyright
    = 'ONE by Bach Todos los Derechos Reservados ' + Time.now.year.to_s
