- page_title!('Inicio')


#region-slider
  .region-carousel
    = link_to 'Yo voy', '', class: 'btn-default yo-voy'
    = render 'bootstrap3_carousel'
  .region-flyers
    - @eventos.each do |evento|
      .flyer
        = link_to image_tag(evento.flyer_url(:thumb), class: 'img-responsive')
        %h3.title
          = evento.titulo + ' / ' + evento.fecha.to_s


#region-auspiciadores.seccion.region-centro
  .region
    - @auspiciadores.each do |auspiciador|
      = link_to image_tag(auspiciador.logo_url(:thumb), class: 'img-responsive'), auspiciador.link

#region-baila.media-region
  .item-texto
    %h2.titulo
      Baila
    %p
      "ONE" by Bach nace de la principal inspiración de un grupo profesional
      de jóvenes dedicados al negocio del entretenimiento los cuales a través
      de 8 años de experiencia han llegado a posicionar la marca "BACH"
      como la mejor opción en discotecas del sur chico. Para este verano
      presentaremos una propuesta innovadora de disco-club al lado
      de nuestro "main-room", la cual ha sido diseñada estratégicamente para
      ofrecer un mejor confort a todos los clientes brindando nuevos
      conceptos de fiestas, conciertos y espacios privados.

  .item-foto
    = image_tag '/assets/img-baila1.jpg', class: 'img-responsive'
  .item-foto
    = image_tag '/assets/img-baila2.jpg', class: 'img-responsive'
  .item-foto
    = image_tag '/assets/img-baila3.jpg', class: 'img-responsive'


%section#la-discoteca.region-section.media-region
  .item-foto.item-tab
    = image_tag '/assets/img-discoteca1.jpg', class: 'img-responsive'
  .item-foto
    = image_tag '/assets/img-discoteca2.jpg', class: 'img-responsive'
  .item-foto
    = image_tag '/assets/img-discoteca3.jpg', class: 'img-responsive'

  .item-texto
    %h2.titulo
      La Discoteca
    %p
      Far far away, behind the word mountains, far from the countries Vokalia
      and Consonantia, there live the blind texts. Separated they live in
      Bookmarksgrove right at the coast of the Semantics, a large language ocean.


#region-musica.media-region
  .item-texto
    %h2.titulo
      La Música
    %p
      Far far away, behind the word mountains, far from the countries Vokalia
      and Consonantia, there live the blind texts. Separated they live in
      Bookmarksgrove right at the coast of the Semantics, a large language ocean.
  .item-iframe
    == <iframe width="100%" height="166" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/113657903&amp;color=ff0000&amp;auto_play=false&amp;show_artwork=false"></iframe>

#region-eventos-anteriores.media-region

  .item-flyers.item-tab
    .row
      .item-flyer
        = image_tag '/assets/img-flyer-mini.jpg', class: 'img-responsive'
        %h3.title
          + Fiesta de Inaguración
      .item-flyer
        = image_tag '/assets/img-flyer-mini.jpg', class: 'img-responsive'
        %h3.title
          + Fiesta de Inaguración
        = link_to 'Ver más', '', class: 'btn-default'

  .item-texto
    %h2.titulo
      Eventos Anteriores
    %p
      Far far away, behind the word mountains, far from the countries Vokalia
      and Consonantia, there live the blind texts. Separated they live in
      Bookmarksgrove right at the coast of the Semantics, a large language ocean.

%section#contacto.region-section
  %address.region-contact-info
    %h2.titulo
      Contacto
    %ul
      %li
        info@onebybach.com
        %i.icon.avion
      %li
        437.6825
        %i.icon.iphone
      %li
        av. El Polo 495 Of. 401 Surco
        %i.icon.ubicacion

  .region-form
    = render '/contactos/form'

%section#ubicacion.region-section
  .item-mapa
    = render 'mapa'
  .item-texto
    %h2.titulo
      Ubicación
    %ul
      %li
        Km. 52 Antigua Panamericana Sur
        San Bartolo (Al costado de Bach)
        %i.icon.mapa
      %li
        Mayores de 21 años
        %i.icon.persona
      %li
        Aceptamos Visa y MasterCard
        %i.icon.tarjeta


#region-facebook.seccion.region-centro
  #region-facebook
    = render '/shared/facebook_js'
    = render '/shared/facebook_like_box'

#main-footer.region-section
  .copyright
    = 'ONE by Bach Todos los Derechos Reservados ' + Time.now.year.to_s
  .twitter-like.footer-item
    = render '/shared/twitter_follow'
  .facebook-like.footer-item
    = render '/shared/like_buttom'
  .logo-facebook.footer-item
    = image_tag '/assets/logo-facebook.png'
