.logo
  = image_tag '/assets/logo-one.png', class: 'img-responsive'
.social
  .footer-item-inner
    -#= render '/shared/twitter_follow'
    .facebook-tag
      = link_to ('https://www.facebook.com/pages/One-by-Bach/269407326541558?fref=ts'), :target => "_blank" do
        %span 
          S&Iacute;GUENOS
        = image_tag image_path('icono-facebook.png')
.seccion.region-menu.menu-principal-wrapper
  = render 'layouts/navigation_links'
  .seccion-logo.region-devise
    = render 'layouts/devise_links'
